:root{
    --bg-color: white;
    --text-color: black;
    --link-color: black;
    --link-hover-color: black;
}

.darkmode {
    --bg-color: black;
    --text-color: white;
    --link-color: white;
    --link-hover-color: white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 60px;
}

.darkmode .navbar-pastel-blue {
    background-color: midnightblue !important;
    border-bottom: 3px solid midnightblue !important;
}

.darkmode .nav-link{
    color: var(--link-color) !important;
}

table, th, td {
    color: var(--text-color);
    background-color: transparent;
}

.darkmode .card {
    background-color: black;
    border-color: dimgray;
}

.darkmode .card-body {
    color: var(--text-color);
}

.darkmode .text-muted {
    color: #aaa !important;
}

.darkmode th a {
    color: white;
}

.darkmode th a:hover {
    color: white;
}

#theme-switch{
    height: 35px;
    width: 35px;
    padding: 0;
    border-radius: 50%;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 20px;
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-pastel-blue {
    background-color: #add8e6 !important;
    border-bottom: 3px solid #87b6d9 !important; 
}

th a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 600;
}

th a:hover {
        color: var(--link-hover-color);
}

th a::after {
        margin-left: 4px;
}

th a {
    text-decoration: none;
    color: var(--lick-color);
    font-weight: bold;
}

    th a:hover {
        text-decoration: underline;
    }
  
