:root{
    --bg-color: white;
    --text-color: black;
    --link-color: black;
    --link-hover-color: black;
}

.darkmode {
    --bg-color: black;
    --text-color: white;
    --link-color: white;
    --link-hover-color: white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 60px;
}

table, th, td {
    color: var(--text-color);
    background-color: transparent;
}

.darkmode .card {
    background-color: black;
    border-color: dimgray;
}

.darkmode .card-body {
    color: var(--text-color);
}

.darkmode .text-muted {
    color: #aaa !important;
}

.darkmode th a {
    color: white;
}

.darkmode th a:hover {
    color: white;
}

#theme-switch {
    height: 35px !important;
    width: 35px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    background-color: green !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed !important;
    top: 10px !important;
    right: 20px !important;
}

#theme-switch:hover {
    height: 35px !important;
    width: 35px !important;
    padding: 0 !important;
    border-radius: 50% !important;
    background-color: darkgreen !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed !important;
    top: 10px !important;
    right: 20px !important;
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-black-green {
    background-color: black !important;
    border-bottom: 3px solid grey !important; 
}

.navbar-black-green a{
    color: green !important;
}

.navbar-black-green a:hover {
    color: lightgreen !important;
    text-decoration: underline;
}

th a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 600;
}

th a:hover {
        color: var(--link-hover-color);
}

th a::after {
        margin-left: 4px;
}

th a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

    th a:hover {
        text-decoration: underline;
    }

.btn-createnew {
    background-color: green;
    color: white;
    margin-top: 10px;
}

.btn-createnew:hover{
    background-color: darkgreen;
    color: white;
}