@model IEnumerable<DataAccessLayer.Models.Stock>

<h2>Voorraad overzicht</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Naam</th>
            <th>Voorraad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td class="@(item.StockAmount <= 5 ? "text-danger fw-bold" : "")">
                    @Html.Raw(item.StockAmount + (item.StockAmount <= 5 ? "<span class='ms-1 text-danger fw-bold'>(Laag voorraad)</span>" : ""))
                </td>
            </tr>
        }
    </tbody>
</table>